<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controlador.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controlador.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarUsuarioServlet</servlet-name>
        <servlet-class>controlador.RegistrarUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarUsuarioServlet</servlet-name>
        <servlet-class>controlador.EliminarUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarUsuarioServlet</servlet-name>
        <servlet-class>controlador.ActualizarUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservarCitaServlet</servlet-name>
        <servlet-class>controlador.ReservarCitaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarCitaServlet</servlet-name>
        <servlet-class>controlador.EliminarCitaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarActividadServlet</servlet-name>
        <servlet-class>controlador.RegistrarActividadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarPerfilServlet</servlet-name>
        <servlet-class>controlador.RegistrarPerfilServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionarActividadServlet</servlet-name>
        <servlet-class>controlador.GestionarActividadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarPerfilServlet</servlet-name>
        <servlet-class>controlador.EliminarPerfilServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarUsuarioServlet</servlet-name>
        <url-pattern>/registrarUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarUsuarioServlet</servlet-name>
        <url-pattern>/eliminarUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarUsuarioServlet</servlet-name>
        <url-pattern>/actualizarUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservarCitaServlet</servlet-name>
        <url-pattern>/reservarCitaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarCitaServlet</servlet-name>
        <url-pattern>/eliminarCitaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarActividadServlet</servlet-name>
        <url-pattern>/registrarActividadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarPerfilServlet</servlet-name>
        <url-pattern>/registrarPerfilServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionarActividadServlet</servlet-name>
        <url-pattern>/gestionarActividadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarPerfilServlet</servlet-name>
        <url-pattern>/eliminarPerfilServlet</url-pattern>
    </servlet-mapping>
</web-app>
